@import "tailwindcss";
/* In styles.css or a similar file */
@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .blink {
    animation: blink 1s infinite;
  }
  

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  
  .animate-blink {
    animation: blink 1s infinite;
  }
  