.loader-overlay {
  position: fixed;
  inset: 0;
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.4); /* semi-transparent white */
  backdrop-filter: blur(10px); /* stronger blur for more smoothness */
  -webkit-backdrop-filter: blur(10px); /* for Safari support */
  display: flex;
  justify-content: center;
  align-items: center;
}


.loader {
  position: relative;
  width: 120px;
  height: 120px;
}

.loader span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(calc(18deg * var(--i)));
}

.loader span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #40A1CB;
  box-shadow:
    0 0 10px #40A1CB,
    0 0 20px #40A1CB,
    0 0 40px #40A1CB,
    0 0 60px #40A1CB,
    0 0 80px #40A1CB,
    0 0 100px #40A1CB;
  animation: animate34 2s linear infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes animate34 {
  0% {
    transform: scale(1);
  }

  80%,
  100% {
    transform: scale(0);
  }
}
